# File: .github/workflows/be.yml
name: Deploy Backend to InfinityFree

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: FTP Deploy to InfinityFree
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ${{ if0_40582250 }}      # if0_40582250
          password: ${{ secrets.IF_PASSWORD }}
          local-dir: ./backend/                     # đổi thành ./ nếu api.php ở ngoài cùng
          server-dir: /htdocs/
          dangerous-clean-slate: false
          timeout: 90000
