name: Deploy Frontend to Somee
on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'

jobs:
  web-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          # Đã điền thông tin của bạn
          server: dss.somee.com
          username: nhatnguyen123
          
          # Mật khẩu bạn PHẢI tạo trong Settings -> Secrets -> Actions với tên FTP_PASSWORD
          password: ${{ secrets.FTP_PASSWORD }}
          
          local-dir: ./frontend/
          
          # Đường dẫn gốc cho Frontend
          server-dir: /www.DSS.somee.com/
