name: Deploy Frontend to Somee.com

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'      # chỉ chạy khi thay đổi trong thư mục frontend
      - '.github/workflows/fe.yml'

jobs:
  deploy-somee:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync files to Somee.com
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: DSS.somee.com          # chính xác tên server Somee cung cấp
          username: nhatnguyen123
          password: ${{ secrets.Nguyen//123 }}   
          local-dir: ./frontend/         # thư mục chứa index.html của bạn
          server-dir: /www.DSS.somee.com/   # hoặc để trống ./ nếu không hoạt động
          dangerous-clean-slate: false   # giữ lại file cũ nếu có
          exclude: |
            **/.git*
            **/.github/
            README.md
