name: Deploy Frontend to Somee
on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'

jobs:
  web-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./frontend/
          # Thay dss.somee.com bằng tên miền thật của bạn hiển thị trong File Manager
          server-dir: /www.dss.somee.com/
